/* Círculo*/
#grafico-01 {
    background-color: brown;
    width: 400px;
    overflow: hidden;
    border-radius: 50%;
    filter: drop-shadow(16px 16px 10px black);
}

#grafico-01 img {
    width: 100%;
    height: auto;
}

/* Triângulo */
#grafico-02 {
    background: transparent;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blue;
    width: 60px;
}

/*filtros*/
.filtro{
    filter: sepia(80%);/*escala de cinza*/
}

.filtro:hover{
    filter: sepia(0%);
    filter: saturate(70%);
    filter: brightness(1.1);
}

/*posicionamento*/
 #grafico-02 ,iframe{
    display: block;
    width: 30%;
    float: left;
    vertical-align: middle;
    margin-top: 4em;
    margin-right: 1em;

}
/*tamanho do iframe*/
iframe{
    height: 400px;

}

/*design responsivo*/
/*tablet e laptop*/
@media(max-width: 1440px){
    iframe{
        width: 60%;
    }
    #grafico-01{
        width: 30%;
        max-width: 100%;
        height: auto;
    }
}

/*smartphone*/
@media(max-width: 425px){
    #grafico-02 , iframe{
        width: 100%;
    }
    #grafico-01{
        display: none;
    }
}
